    <div class="container" color="accent"  align="center">
        <mat-form-field appearance="fill" class="fullWidth">
          <mat-label>Github name</mat-label>
          <input matInput color="warn" #inputvalue [(ngModel)]="username" name="username" (keyup)="getUser()">
        </mat-form-field><br>
    
      </div>

        <div>
            <div class=" container section">
                <mat-grid-list cols="2">
                  <mat-grid-tile>
                      <mat-card>
                        <image mat-card-image>
                          <img src="{{avatar}}">
                        </image>
                          <mat-card-title align="center">{{username}}</mat-card-title>
                          <mat-card-content>
                            <div class="stats">
                              <span class="label label-success">{{followers}} Followers</span>
                            <!-- <span class="label label-default">{{repos}} Public Repos</span> -->
                            <span class="label label-info">{{following}} Following</span>
                            </div>
                          
                            <ul class="list-group">
                              <li class="list-group-item"><strong>Username: </strong>{{username}}</li> 
                               <li class="list-group-item"><strong>Location: </strong>{{location}}</li>
                                  <li class="list-group-item"><strong>Member Since: </strong>{{created_at | date}}</li>  
                          </ul>
                          </mat-card-content>
                            
                      </mat-card>
                  </mat-grid-tile>
                  <mat-grid-tile>
                 <br>
                 <div>
                   <h1>{{user}}'s repositories</h1> <br>
                   <ul>
                     <li *ngFor ="let repo of repos"> <a href="{{repo.html_url}}" target="_blank">{{repo.name}}</a></li>
                     <hr>
                   </ul>
                 </div>
                </mat-grid-tile>
                
              </mat-grid-list>
              
            </div>
            
             
        </div>
        
    
     
