body{
    color:white;
}
mat-grid-tile{
    padding:0px;
    margin:0px;
    background-color: #c0c0c0;
}

.fullWidth{
    color:white;
    width:60%;
}

span{
    color:black
}
mat-card{
    width:500px;
}

img{
    height:100px;
    width:100px;
    border-radius: 50%;
}

.section{
    color:white;
    margin:0 auto;
}

.list-group-item{
    color:black
}

ul{
    list-style-type:none;
}

.label{
    margin:3px
}

li{
    font-size: larger;
    border-bottom: 2px solid #160f0f6e; 
}

a{
    color:black

}

