.container{
    height:100vh
}
mat-card{
    width:500px;
}
mat-grid-tile{
    padding:0px;
    margin:0px;
    background-color: #c0c0c0;
}

image{
    display: inline;
}

img{
    height:100px;
    width:100px;
    border-radius: 50%;
}

button{
    width:60%;
}

.repositoryDisplay{  
    color:black;
}

.section{
    color:white;
    margin:0 auto;
}

li{
    font-size: larger;
    border-bottom: 2px solid #160f0f6e;
   
}

a{
    color:black

}

.list-group-item{
    color:black
}

ul{
    list-style-type:none;
}

.label{
    margin:3px
}

h1{
    padding-bottom:2px
}